<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyBmhm2EmCB-CsYkulXNRMtM6E-rX6qJ1E0</string>
	<key>GCM_SENDER_ID</key>
	<string>851034696531</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.way.spotifyFlutter</string>
	<key>PROJECT_ID</key>
	<string>flutter-spotify-54063</string>
	<key>STORAGE_BUCKET</key>
	<string>flutter-spotify-54063.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:851034696531:ios:b5fbcfa7c0fe13843d4fa6</string>
</dict>
</plist>